.card {
    border: none;
    border-radius: 0px;
}

.card-body {
    padding: 24px;
}

.table-header {
    color: #878787;
    font-size: 14px;
}

.table-body-text {
    font-size: 12px;
    font-weight: 600;
}

.padding-sec {
    padding: 16px 0;
}

.table-heading {
    margin-bottom: 20px;
}

.table-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 0
}

button.btn-refresh {
    width: 42px;
    height: 42px;
    border: 1px solid #D9D9D9;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

button.btn-refresh svg {
    width: 20px;
    height: 20px;
}

.table-btn-list {
    display: flex;
    gap: 16px;
    align-items: center;
    justify-content: flex-end;
}

.btn-add {
    background-color: #076BB6;
    color: #FFFFFF;
    height: 42px;
    padding: 0px 14px;
    border-radius: 8px;
    border: none;
    font-size: 12px;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 8px;
}

.btn-black {
    background-color: var(--foreground);
    color: #FFFFFF;
    height: 42px;
    padding: 0px 14px;
    border-radius: 8px;
    border: none;
    font-size: 12px;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 8px;
}

.btn-add svg {
    width: 20px;
    height: 20px;
}

.btn-dropdown {
    width: 150px;
    height: 42px;
    border: 1px solid #D9D9D9;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 14px;
    font-size: 12px;
    font-weight: 600;
    color: var(--foreground);
}

.btn-dropdown svg {
    width: 20px;
    height: 20px;
}

.dropdown {
    position: relative;
}

.dropdown-content {
    position: absolute;
    background-color: #ffffff;
    min-width: 150px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.1);
    z-index: 1;
    border-radius: 12px;
    padding: 10px 20px;
}

.dropdown-content .dropdown-item {
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 8px 0px;
    color: var(--foreground);
    font-size: 14px;
    font-weight: 600;
}

.dropdown-content .dropdown-item svg {
    width: 20px;
    height: 20px;
}

.btn-table-arrow {
    width: 30px;
    height: 30px;
    border: 1px solid #D9D9D9;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    color: #ffffff;
    background-color: var(--primary);
}

.table-footer div {
    width: 33.33%;
}

.note-box {
    background: #F7F6F9;
    padding: 14px 16px;
    display: flex;
    gap: 10px;
    border-left: 4px solid var(--primary);
}

.note-icon svg {
    width: 20px;
    height: 20px;
    color: var(--primary);
}

.note-text p {
    font-size: 12px;
    color: var(--primary);
    margin-bottom: 0;
}

.form-title {
    font-size: 16px;
    font-weight: 700;
}

.form-title::after {
    content: "";
    width: 40px;
    height: 4px;
    background-color: var(--primary);
    display: block;
    position: relative;
    top: 0px;
    border-radius: 2px
}

.info-item p {
    font-weight: bold;
    color: var(--foreground);
}

.info-item p span {
    color: #5C6981;
    font-weight: normal;
}

.policy-title {
    font-size: 12px;
    color: #5C6981;
    margin-bottom: 0;
}

.modal-description {
    margin-bottom: 0px;
    font-size: 14px;
    color: #535862;
}

/* flow chart css  */

.flow-chart-btn {
    padding: 10px 20px;
    color: #ffffff;
    border-radius: 8px;
    font-weight: bold;
    width: 120px;
    font-size: 14px;
    height: 60px;
    overflow: hidden;
}

.flow-chart-btn .role-name {
    font-size: 14px;
}

.flow-chart-btn.btn-blue {
    background-color: var(--primary);
}

.flow-chart-btn.btn-black {
    background-color: #3F5765;
    display: block !important;
}

.btn-light-blue {
    background-color: #91AFBC;
    width: 100%;
    color: var(--foreground);

}

.role-members {
    font-size: 12px;
    font-weight: normal;
}

.border-height {
    width: 1px;
    height: 40px;
    background: #91AFBC;
}

.border-width {
    width: 591px;
    height: 1px;
    background: #91AFBC;
    position: relative;
    left: -36px;
}

.flow-row {
    width: 100%;
    display: flex;
}

.flow-column {
    width: 25%;
}

.flow-column .flow-chart-item {
    position: relative;
}

.flow-column .flow-chart-item::before {
    content: "";
    position: absolute;
    top: -82%;
    left: 32%;
    right: 50%;
    transform: translateX(-50%);
    width: 1px;
    height: 82%;
    background: #91AFBC;
}

.flow-chart-item-under {
    position: relative;
    margin-left: 10px;
    padding: 24px 0 0px 30px;
}

.height-line {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 1px;
    height: 100%;
    background: #91AFBC;
}

.height-line:last-child {
    height: 50%;
}

.flow-chart-item-under::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    width: 16%;
    height: 1px;
    background: #91AFBC;
}

.role-option-dropdown {
    position: absolute;
    background: #ffffff;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 10px;
    z-index: 1;
    width: auto;
    /* min-width: 100%;
    max-width: 100%; */
}


/* tabs design  */

.project-tabs .nav-item button {
    padding: 14px 40px;
    font-weight: 600;
    color: var(--foreground);
}

.project-tabs .nav-item button.active {
    background-color: transparent;
    color: var(--primary);
    border-top: none ! important;
    border-radius: 0;
    border-left: none ! important;
    border-right: none  ! important;
    border-bottom: 2px solid var(--primary);
}

.project-tabs .nav-item button:hover {
    background-color: transparent;
    color: var(--primary);
    border-top: none ! important;
    border-radius: 0;
    border-left: none ! important;
    border-right: none  ! important;
}

.project-table-tabs .nav-item a {
    padding: 10px 20px;
    font-weight: 600;
    color: var(--foreground);
    background-color: #F5F6FA ! important;
    border-radius: 8px;
}

.project-table-tabs .nav-item a.active {
    background-color: var(--primary) ! important;
    color: #ffffff;
}

.small-text {
    font-size: 14px;
    margin-bottom: 10px;
}

.table-container {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}

.table-responsive {
    width: 100%;
    white-space: nowrap;
}


.project-table-tabs::-webkit-scrollbar {
    display: none;
}

/* Extra small devices (phones) */
@media (max-width: 575px) {
    .table-btn-list {
        flex-wrap: wrap;
        justify-content: flex-start;
        gap: 8px;
    }

    button.btn-refresh {
        width: 38px;
        height: 38px;
    }

    .table-btn-list div {
        width: auto;
    }

    .btn-dropdown {
        width: 130px;
        height: 38px;
    }

    .table-btn-list {
        width: 100% !important;
        /* margin-top: 16px; */
    }

    .table-footer div {
        width: 50%;
    }

    .card-body {
        padding: 12px;
    }

    .step-header-card {
        padding: 10px 20px;
    }

    .btn-add {
        height: 38px;
    }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767px) {
    .table-btn-list {
        width: 100% !important;
        margin-top: 16px;
    }

    .table-footer div {
        width: 33%;
    }

    .card-body {
        padding: 16px;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991px) {
    .table-btn-list {
        width: 100% !important;
        margin-top: 16px;
    }

    .table-footer div {
        width: 33%;
    }

    .card-body {
        padding: 20px;
    }
}


@media (max-width: 991px) {
    .project-table-tabs {
        flex-direction: row !important;
        overflow: auto;
        flex-wrap: nowrap;
    }

    .project-table-tabs .nav-item {
        width: fit-content;
        white-space: nowrap;
    }

    .project-table-tabs .nav-item  {
        font-size: 14px;
    }

}