.page-title h3 {
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
}

.user-info-details {
    background-color: #ffffff;
    padding: 22px 20px;
}

.flex-column-column {
    display: flex;
    align-items: center;
}

.user-1 h4 {
    font-size: 18px;
    font-weight: bold;
}

.user-1 p {
    font-size: 18px;
    font-weight: bold;
}

.user-1 p span {
    color: #5C6981;
    font-weight: normal;
}

.btn-list-column {
    flex-direction: column;
}

.btn-border {
    border: 1px solid #8C8C8C;
    padding: 5px;
    border-radius: 4px;
    font-size: 12px;
    width: max-content;
    color: var(--light-color);
}

.colur-blue-gradient {
    background: linear-gradient(to right, #076BB6, #5C7AEC);
    border: none;
    color: #ffffff;
}

.colur-bluelight-gradient {
    background: linear-gradient(to right, #008276, #00BDAC);
    border: none;
    color: #ffffff;
}

.colur-blue-gradient .card-icon {
    color: #076BB6;
}

.colur-bluelight-gradient .card-icon {
    color: #008276;
}

.colur-purple-gradient {
    background: linear-gradient(to right, #5B46C0, #6F59CC);
    border: none;
    color: #ffffff;
}

.colur-purple-gradient .card-icon {
    color: #5B46C0;
}

.colur-green-gradient {
    background: linear-gradient(to right, #47BD2A, #7BDC4E);
    border: none;
    color: #ffffff;
}

.colur-green-gradient .card-icon {
    color: #47BD2A;
}

.card-icon {
    min-width: 40px;
    height: 40px;
    border-radius: 6px;
    background: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
}

.card-text h3 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 0;
    color: #ffffff;
}

.card-text h2 {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 0;
    color: #ffffff;
}

.add-icon {
    border-radius: 50%;
}

.card-list-item .card-icon {
    background-color: var(--foreground);
    color: #ffffff;
    min-width: 30px;
    height: 30px;
    border-radius: 50%;
    font-size: 18px;
}

.card-tltle h5 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 14px;
}

.list-content {
    gap: 10px;
}


.card-text, .card-value {
    font-size: 14px;
    color: var(--foreground);
}

.card-value svg {
    width: 16px;
    height: 16px;
    color: var(--foreground);
}

.active-icon svg {
    width: 16px;
    height: 16px;
    color: green;
}

.inactive svg {
    width: 16px;
    height: 16px;
    color: var(--light-color);
}

.card-value {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: var(--foreground);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    line-height: normal;
}

.card {
    height: 100%;
    border: none;
}

.icon-box {
    width: 50px;
    height: 50px;
    background-color: var(--foreground);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 12px;
    cursor: pointer;
}

.icon-box svg {
    width: 24px;
    height: 24px;
    color: #fff;
    transition: all 0.3s ease-in-out;
}
 .icon-box svg:hover {
    transform: scale(1.2);
}

.list-section .project-light-tltle {
    font-size: 12px;
    font-weight: 700;
    color: #5C6981;
    margin-bottom: 8px;
}

ul.project-list {
    list-style: disc;
}

ul.project-list li {
    font-size: 12px;
    color: var(--foreground);
    margin-bottom: 8px;
}

ul.project-list li a {
    color: var(--foreground);
}

.card-header-icon {
    position: relative;
    z-index: 1;
}

.border-line {
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #8C8C8C;
    top: 40px;
    left: 0;
}

.btn-read a {
    font-size: 12px;
    text-align: right;
    color: var(--primary);
    text-decoration: none;
    font-weight: 600;
}

.btn-read {
    text-align: right;
}

.chat-icon {
    margin: 50px 0px;
    display: flex;
    justify-content: center;
}

.faq-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 22px;
    text-align: center;
}

p.description {
    text-align: center;
    font-weight: 600;
}

.btn-view {
    background: var(--primary);
    width: 100%;
    color: #ffffff;
    font-weight: 600;
    height: 60px;
    border-radius: 5px;
}

.card-body {
    position: relative;
}

.social-media ul {
    padding-left: 0;
    gap: 10px;
    margin-bottom: 0;
}

.social-media ul li {
    border: 1px solid #8C8C8C;
    border-radius: 6px;
    padding: 6px;
}

.preview img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 5px;
}

.card-faq {
    border: none;
    background-color: #ffffff;
    padding: 16px;
}

.red {
    background-color: #FF0000;
}

.green {
    background-color: #4bc02d;
}

.blue {
    background-color: #0b6cb9;
}

.profile-image img {
    max-width: 90px;
    height: 90px;
    object-fit: cover;
    border-radius: 50%;
}

.faq-section button svg  {
    min-width: 20px; 
    height: 20px;
}

.faq-section .accordion-item {
    margin-bottom: 16px;
    border-radius: 5px !important;
}

.faq-section .accordion-item button.collapsed {
    border-radius: 5px !important;
    background-color: #fff;
    color: var(--foreground);
    font-weight: bold;
}

.faq-section .accordion-item button {
    border-radius: 5px !important;
    background-color: #fff;
    color: var(--foreground);
    font-weight: bold;
    height: 65px;
}

.faq-section .accordion-item button:focus {
    box-shadow: none !important;
}


/* Extra small devices (phones) */
@media (max-width: 575px) {
    .user-1 p {
        font-size: 15px;
    }

    .flex-column-column {
        flex-wrap: wrap;
    }

    .user-info-details .left {
        gap: 16px;
    }

    .user-info-details .left .inline-block {
        margin-left: 0 ! important;
    }

    .faq-section button {
        font-size: 15px;
    }

    .faq-text {
        font-size: 14px;
    }
}