@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Grandstander:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


:root {
  --background: #ECF0FA;
  --foreground: #2C2C2E;
  --primary: #076BB6;
  --light-color: #8C8C8C;
  --red-color: #D92D20;
  --color--2: #5C6981;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background) !important;
  /* font-family: Arial, Helvetica, sans-serif; */
  /* font-family: 'Grandstander', cursive; */
  font-family: 'Roboto', sans-serif !important;
  /* font-family: 'Work Sans', sans-serif; */
}

.mt-30 {
  margin-top: 30px;
}

.mt-20 {
  margin-top: 20px;
}

.page-content {
  background: #ECF0FA;
  height: 100%;
}

.page-inner {
  display: flex;
  height: 100%;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100vh;
  background-color: var(--primary);
  overflow-y: auto;
}

.sidebar-header {
  padding: 20px;
  text-align: center;
  background-color: #ffffff;
}

.plan p {
  font-size: 8px;
  margin-top: 20px;
  text-transform: uppercase;
  font-weight: 600;
}

.plan p a {
  color: var(--primary);
  text-decoration: underline;
  font-weight: 600;
  margin-left: 6px;
}

.main-content {
  margin-left: 250px;
  padding: 105px 20px 0px 20px;
  flex: 1;
  overflow-y: auto;
}

.page-header {
  position: fixed;
  top: 0;
  left: 250px;
  width: calc(100% - 250px);
  padding: 20px;
  background-color: #ffffff;
  /* box-shadow: 0 0px 4px rgba(0, 0, 0, 0.1); */
  z-index: 99;
  height: 75px;
}

.page-header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.user-info {
  margin-left: 40px;
}

.user-info p {
  margin: 0;
  font-weight: bold;
  font-size: 20px;
  /* font-family: "Work Sans", serif; */
}

.user-info span {
  font-size: 14px;
  color: var(--light-color);
  line-height: normal;
  top: -6px;
  position: relative;
}

.btn-downgrade {
  border: 1px solid var(--primary);
  color: #fff;
  background: var(--primary);
  margin-left: 20px;
  padding: 7px 30px;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 600;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1)
}

.content-right {
  gap: 28px;
}

.notification-count {
  position: absolute;
  top: -4px;
  right: -4px;
  background-color: #FF0000;
  color: #fff;
  border-radius: 50%;
  width: 18px;
  height: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 9px;
  font-weight: bold;
}

.notification {
  position: relative;
}

.sidebar-menu {
  padding: 24px 10px;
}

.sidebar-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar-menu li {
  margin-bottom: 5px;
}

.sidebar-menu li.active a {
  background-color: rgba(255, 255, 255, 0.1);
}

.sidebar-menu a, .siebar-menu button {
  text-decoration: none;
  color: #fff;
  display: flex;
  gap: 6px;
  align-items: center;
  padding: 10px 20px;
  border-radius: 4px;
  transition: background-color 0.3s ease;
  font-size: 14px;
}

.sidebar-menu a svg, .siebar-menu button svg {
  font-size: 16px;
}

.sidebar-menu a:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.nav-list {
  list-style: none;
  padding: 0;
}

.nav-list li {
  cursor: pointer;
}

.nav-list .dropdown-btn {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  width: 100%;
  text-align: left;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
}

.nav-list .dropdown-menu {
  list-style: none;
  padding-left: 15px;
  background: transparent;
  box-shadow: none;
  border: none;
}

.nav-list .dropdown-menu li {
  padding: 0px;
}

ul.dropdown-menu {
  display: block;
  position: relative ! important;
}

.page-footer {
  margin-top: 40px;
  background-color: #ffffff;
  padding: 30px 40px;
}

.page-footer p {
  margin-bottom: 0;
  font-size: 14px;
  color: var(--light-color);
  font-weight: 600;
}

.policy a {
  margin-bottom: 0;
  font-size: 14px;
  color: var(--light-color);
  font-weight: 600;
  text-decoration: none;
  margin-left: 20px;
}

.menu-divider {
  border-color: #04406C;
  margin: 18px 0px;
}

.menu-gap {
  gap: 6px;
}

.sidebar::-webkit-scrollbar {
  /* width: 5px;
  height: 5px; */
  display: none;
}

/* .sidebar::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

.sidebar::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

.sidebar::-webkit-scrollbar-thumb:hover {
  background: #555;
} */

.form-label {
  font-size: 12px;
  margin-bottom: 8px ! important;
}

.form-control {
  font-size: 14px ! important;
  height: 45px;
}

.text-length {
  font-size: 10px;
  color: var(--light-color);
}

label {
  font-size: 14px;
  color: var(--foreground);
}

.btn-save {
  background-color: var(--primary);
  padding: 10px 30px;
  color: #fff;
  border-radius: 5px;
  font-weight: 600;
  font-size: 15px;
}

.btn-cancel {
  background-color: var(--red-color);
  padding: 10px 30px;
  color: #fff;
  border-radius: 5px;
  font-weight: 600;
  font-size: 15px;
}

.page-title h3 {
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 0;
  color: #2B2C3E;
}

.role-lavel {
  font-size: 14px;
}

.custom-modal .modal-content {
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.custom-modal .modal-dialog {
  max-width: 700px;
}

.custom-modal .modal-header {
  border-bottom: none;
  padding: 30px 30px 0;
}

.custom-modal .modal-title {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

.custom-modal .btn-close {
  color: var(--gimmel-orange);
  opacity: 1;
  background-image: url("../assets/images/close-\ btn.svg");
  background-repeat: no-repeat;
  background-size: 24px;
  background-position: center;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  box-shadow: none;
  border: none;
}

.modal-body {
  padding: 30px ! important; 
}

.delete-modal .modal-dialog {
  max-width: 400px;
}

.delete-modal .modal-body {
  padding: 0px 24px 24px ! important;
}

.delete-modal button {
  width: 100%;
}

.btn-outline {
  border: 1px solid var(--primary);
  color: var(--primary);
  padding: 10px 30px;
  border-radius: 5px;
  font-weight: 600;
  background-color: transparent;
  transition: all 0.3s ease-in-out;
}

.flow-chart-modal .modal-dialog {
  max-width: 850px;
}