@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Grandstander:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


:root {
  --background: #ECF0FA;
  --foreground: #2C2C2E;
  --primary: #076BB6;
  --light-color: #8C8C8C;
  --red-color: #D92D20;
  --color--2: #5C6981;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background) !important;
  /* font-family: Arial, Helvetica, sans-serif; */
  /* font-family: 'Grandstander', cursive; */
  font-family: 'Roboto', sans-serif !important;
  /* font-family: 'Work Sans', sans-serif; */
}

a {
  text-decoration: none ! important;
}

.mt-30 {
  margin-top: 30px;
}

.mt-20 {
  margin-top: 20px;
}

.page-content {
  background: #ECF0FA;
  height: 100%;
}

.page-inner {
  display: flex;
  height: 100%;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100vh;
  background-color: var(--primary);
  overflow-y: auto;
}

.sidebar-header {
  padding: 20px;
  text-align: center;
  background-color: #ffffff;
}

.plan p {
  font-size: 12px;
  margin-top: 20px;
  text-transform: uppercase;
  font-weight: 600;
}

.plan p a {
  color: var(--primary);
  text-decoration: underline;
  font-weight: 600;
  margin-left: 6px;
}

.main-content {
  margin-left: 250px;
  padding: 105px 20px 0px 20px;
  flex: 1;
  overflow-y: auto;
}

.page-header {
  position: fixed;
  top: 0;
  left: 250px;
  width: calc(100% - 250px);
  padding: 20px;
  background-color: #ffffff;
  /* box-shadow: 0 0px 4px rgba(0, 0, 0, 0.1); */
  z-index: 99;
  height: 75px;
}

.page-header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.user-info {
  margin-left: 40px;
}

.user-info p {
  margin: 0;
  font-weight: bold;
  font-size: 20px;
  /* font-family: "Work Sans", serif; */
}

.user-info p .user-name-color{
  color: var(--primary);
  font-weight: bold;
  font-size: 20px;
  top: 0;
  margin-left: 2px;
}

.user-info span {
  font-size: 14px;
  color: var(--light-color);
  line-height: normal;
  top: -6px;
  position: relative;
}

.btn-downgrade {
  border: 1px solid var(--primary);
  color: #fff;
  background: var(--primary);
  margin-left: 20px;
  padding: 7px 30px;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 600;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1)
}

.content-right {
  gap: 28px;
}

.notification-count {
  position: absolute;
  top: -4px;
  right: -4px;
  background-color: #FF0000;
  color: #fff;
  border-radius: 50%;
  width: 18px;
  height: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 9px;
  font-weight: bold;
}

.notification {
  position: relative;
}

.sidebar-menu {
  padding: 24px 10px;
}

.sidebar-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar-menu li {
  margin-bottom: 5px;
}

.sidebar-menu li.active a {
  background-color: rgba(255, 255, 255, 0.1);
}

.sidebar-menu a, .siebar-menu button {
  text-decoration: none;
  color: #fff;
  display: flex;
  gap: 6px;
  align-items: center;
  padding: 10px 20px;
  border-radius: 4px;
  transition: background-color 0.3s ease;
  font-size: 14px;
}

.sidebar-menu a svg, .siebar-menu button svg {
  font-size: 16px;
}

.sidebar-menu a:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.nav-list {
  list-style: none;
  padding: 0;
}

.nav-list li {
  cursor: pointer;
}

.nav-list .dropdown-btn {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  width: 100%;
  text-align: left;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
}

.nav-list .dropdown-menu {
  list-style: none;
  padding-left: 15px;
  background: transparent;
  box-shadow: none;
  border: none;
}

.nav-list .dropdown-menu li {
  padding: 0px;
}

ul.dropdown-menu {
  display: block;
  position: relative ! important;
}

.page-footer {
  margin-top: 40px;
  background-color: #ffffff;
  padding: 30px 40px;
}

.page-footer p {
  margin-bottom: 0;
  font-size: 14px;
  color: var(--light-color);
  font-weight: 600;
}

.policy a {
  margin-bottom: 0;
  font-size: 14px;
  color: var(--light-color);
  font-weight: 600;
  text-decoration: none;
  margin-left: 20px;
}

.menu-divider {
  border-color: #04406C;
  margin: 18px 0px;
}

.menu-gap {
  gap: 6px;
}

.sidebar::-webkit-scrollbar {
  /* width: 5px;
  height: 5px; */
  display: none;
}

/* .sidebar::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

.sidebar::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

.sidebar::-webkit-scrollbar-thumb:hover {
  background: #555;
} */

.form-label {
  font-size: 12px;
  margin-bottom: 8px ! important;
  font-weight: 600;
}

.form-control {
  font-size: 14px ! important;
  height: 45px;
}

textarea.form-control {
  height: auto ! important;
}

.text-length {
  font-size: 10px;
  color: var(--light-color);
}

label {
  font-size: 14px;
  color: var(--foreground);
}

.btn-save {
  background-color: var(--primary);
  padding: 10px 30px;
  color: #fff;
  border-radius: 5px;
  font-weight: 600;
  font-size: 15px;
}

.btn-cancel {
  background-color: var(--red-color);
  padding: 10px 30px;
  color: #fff;
  border-radius: 5px;
  font-weight: 600;
  font-size: 15px;
}

.btn-yellow {
  background-color: #FF9500;
  padding: 10px 30px;
  color: #ffffff;
  border-radius: 5px;
  font-weight: 600;
  font-size: 15px;
}

.page-title h3 {
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 0;
  color: #2B2C3E;
}

.page-title-faq h3 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 0;
  color: #2B2C3E;
}

.role-lavel {
  font-size: 14px;
}

.custom-modal .modal-content {
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.custom-modal .modal-dialog {
  max-width: 700px;
}

.custom-modal .modal-header {
  border-bottom: none;
  padding: 30px 30px 0;
}

.custom-modal .modal-title {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
  padding: 0;
  text-align: center;
}

.modal-description {
  text-align: center;
}

.custom-modal .btn-close {
  color: var(--gimmel-orange);
  opacity: 1;
  background-image: url("../assets/images/close-\ btn.svg");
  background-repeat: no-repeat;
  background-size: 24px;
  background-position: center;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  box-shadow: none;
  border: none;
}

.modal-body {
  padding: 30px ! important; 
}

.delete-modal .modal-dialog {
  max-width: 440px ! important;
}

.delete-modal .modal-body {
  padding: 0px 24px 24px ! important;
}

.delete-modal button {
  width: 100%;
}

.btn-outline {
  border: 1px solid var(--primary);
  color: var(--primary);
  padding: 10px 30px;
  border-radius: 5px;
  font-weight: 600;
  background-color: transparent;
  transition: all 0.3s ease-in-out;
}

.flow-chart-modal .modal-dialog {
  max-width: 850px !important;
}

.selected-list {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.selected-list li {
  background-color: var(--primary);
  color: #fff;
  font-size: 12px;
  font-weight: revert;
  padding: 5px 10px;
  border-radius: 16px;
  width: fit-content;
}

.multi-select {
  font-size: 14px;
  font-weight: 500;
  z-index: 9;
  border-radius: 8px;
  position: relative;
}




/* Step Form design  */

.step-item {
  width: calc(100% / 3);
}

.step-header-card {
  padding: 22px 20px;
  border: 1px solid #CCCCCC;
  border-radius: 5px;
}

.step-card-details {
  display: flex;
  align-items: center;
  gap: 14px;
}

.step-icon {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: var(--foreground);
  color: #ffffff;
}

.step-icon svg {
  font-size: 26px;
}

.step-name {
  font-size: 12px;
  color: var(--color--2);
}

.step-title {
  font-size: 18px;
  font-weight: bold;
}

.step-completion svg {
  font-size: 24px;
  color: var(--color--2);
}

.step-item.active .step-header-card {
  background-color: #ECF7FF;
  border-color: var(--primary);
}

.step-title {
  font-size: 16px;
  font-weight: bold;
}

.file-uploader input[type=file] {
  padding: 10px;
  background: #F8FCFF;
  border-radius: 4px
}

.file-uploader input[type=file]::file-selector-button {
  padding: 10px 20px;
  background: transparent;
  border-radius: 4px;
  color: #10B981;
  border: 1px solid #10B981;
  cursor: pointer;
}

.upload-file {
  border: 1px solid #D9D9D9;
  padding: 20px;
  border-radius: 5px;
}

.step-footer {
  margin-top: 50px;
}

.btn-back {
  border: 1px solid ;
  padding: 10px 30px;
  border-radius: 5px;
  color: #ffffff;
  font-weight: 600;
  background: var(--foreground);
}

.btn-back:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.btn-next {
  border: 1px solid var(--primary);
  padding: 10px 30px;
  border-radius: 5px;
  color: #ffffff;
  font-weight: 600;
  background: var(--primary);
}

.step-subtitle {
  color: var(--color--2);
  margin-top: 8px;
}

.step-subtitle-2 {
  margin-top: 12px;
}

.step-subtitle a {
  color: var(--primary);
  text-decoration: none;
  cursor: pointer;
}

.step-link {
  font-size: 14px;
  color: var(--primary);
}

.note-box {
  background: #F7F6F9;
  padding: 14px 16px;
  display: flex;
  gap: 10px;
  border-left: 4px solid var(--primary);
}

.note-icon svg {
  width: 20px;
  height: 20px;
  color: var(--primary);
}

.note-text p {
  font-size: 12px;
  color: var(--primary);
  margin-bottom: 0;
}

.card-section-collaboration {
  background-color: #ffffff;
  padding: 20px;
}

.card-box {
  background-color: #ffffff;
  padding: 24px;
}

.image-preview img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 5px;
}

.select-row {
  font-size: 14px;
  font-weight: 600;
}



.user-info-2 {
  position: relative;
}

.profile-dropdown {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #fff;
  border-radius: 12px;
  padding: 10px 20px;
  width: 220px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 1;
  margin-top: 10px;
}

.profile-dropdown ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* .profile-dropdown li {
  margin-bottom: 8px;
} */

.profile-dropdown a {
  text-decoration: none;
  color: #333;
  display: block;
  padding: 12px 10px;
  border-radius: 4px;
  transition: background-color 0.3s ease;
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 15px;
}

.notification-dropdown {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #fff;
  border-radius: 12px;
  padding: 16px 0px;
  width: 420px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 1;
  margin-top: 10px;
  transition: transform 0.3s ease;
  transform-origin: top right;
  transform: scale(1);
}

.notification-info {
  display: flex;
  align-items: flex-start;
  gap: 10px;
}

.notification-dropdown ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.notification-dropdown li {
  border-bottom: 1px solid #ccc;
}

.notification-unread {
  background-color: var(--primary);
  min-width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 10px;
  margin-top: 6px;
}

.notification-dropdown-item {
  padding: 14px 24px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: flex;
  align-items: flex-start;
  gap: 10px;
}

.notification-dropdown-item.active {
  background-color: #f5f5f5;
}

.notification-title {
  font-weight: bold;
  margin-bottom: 24px;
}

.notification-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 16px;
  padding: 0px 24px;
  font-size: 12px;
}

.notification-footer p {
  margin-bottom: 0;
}

.notification-footer a {
  color: var(--primary);
  text-decoration: none;
  cursor: pointer;
}

.notification-dropdown .notification-content p {
  font-size: 12px;
  color: var(--light-color);
  margin-bottom: 0;
}

.notification-dropdown .notification-time {
  font-size: 12px;
  color: var(--light-color);
}

.notification-dropdown .notification-image img {
  min-width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
}

button.country-flag img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.page-inner.active .sidebar {
  width: 90px;
}

.page-inner.active .main-content {
  margin-left: 90px;
}

.page-inner.active .page-header {
  left: 90px;
  width: calc(100% - 90px);
}

.page-inner.active .plan {
  display: none;
}

.page-inner.active .menu-name {
  display: none;
}

.page-inner.active .sidebar-menu a, .siebar-menu button {
  justify-content: center;
}

.page-inner.active .nav-list .dropdown-btn {
  justify-content: center ! important;
}

.page-inner.active .sidebar-menu a svg {
  margin: 0;
  width: 20px;
  height: 20px;
  color: #ffffff;
}

.page-inner.active .nav-list .dropdown-btn svg {
  margin: 0;
  width: 20px;
  height: 20px;
  color: #ffffff;
}

.count-notification {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: var(--red-color);
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  margin-left: 10px;
}