.card-icon {
    min-width: 40px;
    height: 40px;
    border-radius: 6px;
    background: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
}

.card-text h3 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 0;
}

.add-icon {
    border-radius: 50%;
}

.card-list-item .card-icon {
    background-color: var(--foreground);
    color: #ffffff;
    min-width: 30px;
    height: 30px;
    border-radius: 50%;
    font-size: 18px;
}

.card-tltle h5 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 14px;
}

.list-content {
    gap: 10px;
}


.card-text,
.card-value {
    font-size: 14px;
}

.card-value svg {
    width: 16px;
    height: 16px;
    color: var(--foreground);
}

.icon-box {
    width: 50px;
    height: 50px;
    background-color: var(--foreground);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 12px;
}

.project-light-tltle {
    font-size: 18px;
    font-weight: bold;
    color: var(--foreground);
    margin-bottom: 8px;
}

.project-desc {
    font-size: 12px;
    margin-bottom: 10px;
    color: var(--color--2);
}

.card-header-icon {
    position: relative;
    z-index: 1;
}

.border-line {
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #8C8C8C;
    top: 40px;
    left: 0;
}

.project-date .date {
    color: var(--color--2);
    font-size: 14px;
}

.card-section-collaboration {
    background-color: #ffffff;
    padding: 20px;
}

.card {
    margin-bottom: 16px;
}

.card.card-collaboration {
    height: auto ! important;
    border: 1px solid #DFDFDF !important;
}

.members-list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.member-item {
    width: calc(100% / 5 - 10px);
    position: relative;
    text-align: center;
    margin-bottom: 10px;
}

.member-details {
    position: absolute;
    bottom: 20px;
    background-color: #ffffff;
    width: 90%;
    left: 50%;
    transform: translateX(-50%);
    padding: 5px 10px;
    border-radius: 6px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
    z-index: 1;
    text-align: center;
}

.member-name {
    font-size: 16px;
    font-weight: bold;
}

.member-role {
    font-size: 14px;
    color: var(--color--2);
}



/* Step Form design  */

.step-item {
    width: calc(100% / 3);
}

.step-header-card {
    padding: 22px 20px;
    border: 1px solid #CCCCCC;
    border-radius: 5px;
}

.step-card-details {
    display: flex;
    align-items: center;
    gap: 14px;
}

.step-name {
    font-size: 12px;
    color: var(--color--2);
}

.step-title {
    font-size: 18px;
    font-weight: bold;
}

.step-completion svg {
    font-size: 24px;
    color: var(--color--2);
}

.step-item.active .step-header-card {
    background-color: #ECF7FF;
    border-color: var(--primary);
}

.step-title {
    font-size: 16px;
    font-weight: bold;
}

.file-uploader input[type=file] {
    padding: 10px;
    background: #F8FCFF;
    border-radius: 4px
}

.file-uploader input[type=file]::file-selector-button {
    padding: 10px 20px;
    background: transparent;
    border-radius: 4px;
    color: #10B981;
    border: 1px solid #10B981;
    cursor: pointer;
}

.upload-file {
    border: 1px solid #D9D9D9;
    padding: 20px;
    border-radius: 5px;
}

.step-footer {
    margin-top: 50px;
}

.btn-back {
    border: 1px solid ;
    padding: 10px 30px;
    border-radius: 5px;
    color: #ffffff;
    font-weight: 600;
    background: var(--foreground);
}

.btn-back:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.btn-next {
    border: 1px solid var(--primary);
    padding: 10px 30px;
    border-radius: 5px;
    color: #ffffff;
    font-weight: 600;
    background: var(--primary);
}

.step-subtitle {
    color: var(--color--2);
    margin-top: 8px;
}

.step-subtitle-2 {
    margin-top: 12px;
}

.step-subtitle a {
    color: var(--primary);
    text-decoration: none;
    cursor: pointer;
}

.step-link {
    font-size: 14px;
    color: var(--primary);
}

.note-box {
    background: #F7F6F9;
    padding: 14px 16px;
    display: flex;
    gap: 10px;
    border-left: 4px solid var(--primary);
}

.note-icon svg {
    width: 20px;
    height: 20px;
    color: var(--primary);
}

.note-text p {
    font-size: 12px;
    color: var(--primary);
    margin-bottom: 0;
}



/* Extra small devices (phones) */
@media (max-width: 575px) {
    .member-item {
        width: calc(100% / 2 - 10px);
    }

    .step-header-card {
        padding: 10px 20px;
    }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767px) {
    .member-item {
        width: calc(100% / 2 - 10px);
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991px) {
    .member-item {
        width: calc(100% / 3 - 10px);
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199px) {
    .member-item {
        width: calc(100% / 3 - 10px);
    }
}