.image-dimension {
    font-size: 14px; 
    color: var(--light-color);
    margin: 10px 0;
}

.form-divider-title {
    font-size: 18px;
    font-weight: bold;
    margin: 24px 0;
}


/* flow chart css  */

.flow-chart-btn {
    padding: 10px 20px;
    color: #ffffff;
    border-radius: 8px;
    font-weight: bold;
    width: 120px;
    font-size: 14px;
    height: 60px;
    overflow: hidden;
}

.flow-chart-btn .role-name {
    font-size: 14px;
}

.flow-chart-btn.btn-blue {
    background-color: var(--primary);
}

.flow-chart-btn.btn-black {
    background-color: #3F5765;
    display: block !important;
}

.btn-light-blue {
    background-color: #91AFBC;
    width: 100%;
    color: var(--foreground);

}

.role-members {
    font-size: 12px;
    font-weight: normal;
}

.border-height {
    width: 1px;
    height: 40px;
    background: #91AFBC;
}

.organization-flow-chart .border-width {
    width: 758px;
    height: 1px;
    background: #91AFBC;
    position: relative;
    left: -67px;
}

.flow-row {
    width: 100%;
    display: flex;
}

.flow-column {
    width: 25%;
}

.flow-column .flow-chart-item {
    position: relative;
}

.organization-flow-chart .flow-column .flow-chart-item::before {
    content: "";
    position: absolute;
    top: -81%;
    left: 60px !important;
    right: 50%;
    transform: translateX(-50%);
    width: 1px;
    height: 82%;
    background: #91AFBC;
}

.flow-chart-item-under {
    position: relative;
    margin-left: 10px;
    padding: 24px 0 0px 30px;
}

.height-line {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 1px;
    height: 100%;
    background: #91AFBC;
}

.height-line:last-child {
    height: 50%;
}

.flow-chart-item-under::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    width: 16%;
    height: 1px;
    background: #91AFBC;
}

.role-option-dropdown {
    position: absolute;
    background: #ffffff;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 10px;
    z-index: 1;
    width: auto;
    /* min-width: 100%;
    max-width: 100%; */
}

.manage-role {
    margin: 60px 0;
}


/* Extra small devices (phones) */
@media (max-width: 767px) {
    .flow-column {
        width: 100%;
        padding-bottom: 22px;
    }

    .flow-row {
        flex-wrap: wrap;
    }

    .organization-flow-chart .border-width {
        width: 100%;
        left: 0;
    }
}