/* Extra small devices (phones) */
@media (max-width: 575px) {
    .sidebar {
        position: fixed;
        top: 0;
        left: -100%;
        height: 100vh;
        transition: left 0.3s ease-in-out;
        z-index: 1000;
    }

    .show-sidebar {
        left: 0;
    }

    .main-content {
        margin-left: 0;
    }

    .page-header {
        left: 0;
        width: 100%;
    }

    .user-info p {
        font-size: 16px;
    }

    .user-info p .user-name-color {
        font-size: 16px;
    }

    .content-left {
        display: none ! important;
    }

    .user-info {
        margin-left: 20px;
    }

    .content-right {
        gap: 16px;
    }

    .btn-downgrade {
        margin-left: 0;
        font-size: 14px;
        padding: 7px 20px;
    }

    .main-content {
        padding: 100px 10px 0px 10px;
    }

    .user-info-details .warp-section {
        flex-wrap: wrap;
        gap: 20px !important;
    }

    .btn-list-column {
        flex-direction: row ! important;
    }

    .notification {
        background: #ebf2f5;
    }

    .social-media ul li img {
        width: 20px;
        height: 20px;
    }

    .card {
        margin-bottom: 16px;
        height: auto ! important;
    }

    .mt-30 {
        margin-top: 16px;
    }

    .card-section .col-md-4 {
        margin-top: 16px;
    }

    .notification-dropdown {
        position: fixed;
        top: 70px;
        width: 95%;
        margin: 0px auto;
        right: 0;
        left: 0;
    }
}

/* Small devices (landscape phones) */
@media (min-width: 576px) and (max-width: 767px) {
    .sidebar {
        position: fixed;
        top: 0;
        left: -100%;
        height: 100vh;
        transition: left 0.3s ease-in-out;
        z-index: 1000;
    }

    .show-sidebar {
        left: 0;
    }

    .main-content {
        margin-left: 0;
    }

    .page-header {
        left: 0;
        width: 100%;
    }

    .user-info p {
        font-size: 16px;
    }

    .user-info p .user-name-color {
        font-size: 16px;
    }

    .content-left {
        display: none ! important;
    }

    .user-info {
        margin-left: 20px;
    }

    .content-right {
        gap: 16px;
    }

    .btn-downgrade {
        margin-left: 0;
        font-size: 14px;
        padding: 7px 20px;
    }

    .main-content {
        padding: 100px 10px 0px 10px;
    }

    .user-info-details .warp-section {
        flex-wrap: wrap;
        gap: 20px !important;
    }

    .btn-list-column {
        flex-direction: row ! important;
    }

    .notification {
        background: #ebf2f5;
    }

    .social-media ul li img {
        width: 20px;
        height: 20px;
    }

    .card {
        margin-bottom: 16px;
        /* height: auto ! important; */
    }

    .card-section .col-xl-3 {
        margin-bottom: 16px;
    }

    .mt-30 {
        margin-top: 16px;
    }

    .user-1 p {
        font-size: 15px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .sidebar {
        position: fixed;
        top: 0;
        left: -100%;
        height: 100vh;
        transition: left 0.3s ease-in-out;
        z-index: 1000;
    }

    .show-sidebar {
        left: 0;
    }

    .main-content {
        margin-left: 0;
    }

    .page-header {
        left: 0;
        width: 100%;
    }

    .toggle-sidebar {
        display: none;
    }

    .user-info {
        margin-left: 0;
    }

    .user-1 p {
        font-size: 14px;
    }

    .card-section .col-xl-3 {
        margin-bottom: 16px;
    }

    .mt-30 {
        margin-top: 16px;
    }
}

/* Large devices (desktops) */
@media (min-width: 992px) and (max-width: 1199px) {
    .card-section .col-xl-3 {
        margin-bottom: 16px;
    }
}