.account-settings-tabs .nav-item a {
    padding: 16px 20px;
    font-weight: 600;
    color: var(--foreground);
    background-color: transparent ! important;
    border-radius: 8px;
}

.account-settings-tabs .nav-item a.active {
    background-color: var(--primary) ! important;
    color: #ffffff;
}

.input-info {
    margin-top: 8px;
    font-size: 12px;
    color: var(--light-color);
}

.tab-details {
    border-left: 1px solid #ccc;
    padding-left: 20px;
}

/**********************************************
        price page css start here  
 ********************************************/

.price-card--price-number:after {
    content: "per month";
    font-size: 14px;
    display: inline-block;
}

.switch-label {
    text-align: center;
    opacity: 0.4;
    font-size: 1rem;
    cursor: pointer;
    padding: 0 24px;
    font-weight: bold;
}

.switch-label .save-money {
    color: #3498db;
    font-style: italic;
    padding-left: 0.5rem;
}

.save-money--mobile {
    color: #3498db;
    font-style: italic;
    display: none;
}

.switch-label.active {
    opacity: 1;
}

.switch {
    position: relative;
    display: inline-block;
    width: 3.75rem;
    height: 2.15rem;
    vertical-align: -50%;
    margin: 0;
}

.switch input {
    display: none;
}

.slider-price {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: transparent;
    border: 2px solid var(--primary);
    border-radius: 34px;
    -webkit-transition: 0.1s;
    transition: 0.1s;
}

.slider-price:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 2px;
    background-color: var(--primary);
    border-radius: 50%;
    -webkit-transition: 0.1s;
    transition: 0.1s;
}

#js-pricing-switch input:focus+.slider-price {
    box-shadow: 0 0 1px var(--primary);
}

#js-pricing-switch input:checked+.slider-price:before {
    -webkit-transform: translateX(22px);
    -ms-transform: translateX(22px);
    transform: translateX(22px);
}

@media (max-width: 980px) {
    /* Pricing Switch */

    .switch-label {
        display: inline-block;
        width: auto;
    }

    .save-money {
        display: none;
    }

    .save-money--mobile {
        display: block;
        font-weight: bold;
    }
}

.js-pricing-switch {
    border: 1px solid #104f5b79;
    border-radius: 34px;
    width: fit-content;
    padding: 8px 24px;
    margin: auto;
}

.card-frame {
    border: 1px solid #104f5b79;
    border-radius: 8px !important;
    padding: 24px;
}

.card-frame.active .card-header {
    border-bottom: 1px solid var(--primary);
}

.price-card--title {
    text-align: center;
}

.price-card--title h4 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    color: var(--primary);
}

.price-card--title p {
    font-size: 15px;
    color: var(--primary);
    font-weight: bold;
}

.card-frame .card-body {
    padding: 16px 0 0 0;
}

.card-frame .card-body ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.card-frame .card-body ul li {
    font-size: 16px;
    padding: 8px 0;
    color: var(--foreground);
    font-weight: bold;
    align-items: center;
}

.card-frame .card-body ul li svg {
    margin-right: 8px;
    width: 20px;
    height: 20px;
}

.price-number {
    font-size: 24px;
    font-weight: 900;
    text-align: center;
    color: var(--gimmel-darkBlue);
}

.card-frame.active {
    border: 1px solid var(--gimmel-orange);
    background-color: #FEF9F6;
    color: var(--gimmel-orange);
}

.card-frame.active .price-number {
    color: var(--gimplode-orange);
}

.card-frame.active .price-card--title h4 {
    color: var(--gimplode-orange);
}

.card-frame.active .card-body ul li {
    color: var(--gimplode-orange);
}

.price {
    text-align: center;
}

.small-text {
    font-size: 14px;
    text-align: center;
}

.price-btn {
    margin: 16px 0px;
}

.onboarding .page-main-section {
    margin-bottom: 140px;
}

.price-card--price {
    text-align: center;
    margin-top: 15px;
}

.price-card--price-number {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: var(--primary);
}

.price-card--price-number sup {
    font-size: 18px;
    font-weight: bold;
    color: var(--primary);
}

.btn-color-plan {
    background-color: var(--primary) ! important;
    color: #ffffff ! important;
    border: 1px solid var(--primary);
    padding: 8px 16px;
    border-radius: 4px;
    font-weight: 600;
    width: 100%;
}

.btn-color-plan.current-plan {
    background-color: #ffffff ! important;
    color: var(--primary) ! important;
    border: 1px solid var(--primary);
    padding: 8px 16px;
    border-radius: 4px;
    font-weight: 600;
    width: 100%;
    cursor: not-allowed;
}

.tab-details {
    height: 100%;
}

.delete-sec h4 {
    font-size: 20px;
    font-weight: 600;
}

.delete-sec a {
    color: var(--primary);
}

.authenticator-app {
    background-color: #f7f7f7;
    border-radius: 8px;
    padding: 20px;
    border: 1px solid #ccc;
    margin: 20px 0px;
}

.auth-stap {
    margin-bottom: 30px;
}

.auth-stap h4 {
    font-size: 20px;
    font-weight: 600;
}

.auth-stap p {
    font-size: 15px;
    margin-bottom: 0;
}

.qr-code {
    background-color: #ffffff;
    border-radius: 8px;
    padding: 20px;
    border: 1px solid #ccc;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-direction: column;
    width: fit-content;
}

.qr-code p {
    font-size: 15px;
    margin-bottom: 16px;
    font-weight: 600;
}

.account-settings-tabs .nav-item::-webkit-scrollbar {
    display: none;
}

/* Extra small devices (phones) */
@media (max-width: 991px) {
    .account-settings-tabs .nav-item {
        flex-direction: row !important;
        overflow: auto;
    }

    .account-settings-tabs .nav-item a {
        width: fit-content;
        white-space: nowrap;
        font-size: 14px;
    }

    .account-settings-tabs {
        margin-bottom: 22px;
    }

    .tab-details {
        padding-left: 0;
        border: none;
    }
}